
body {
	margin: 0;
	padding: 0;
	font-family: monospace;
	background-color: #000;

}

.container {
	margin-top: 17%;
	text-align: center;
}

.container h1 {
   font-size: 190px;
   color: rgba(255, 255, 255, 0.1);
  background-image: url('cc.jpg');
  background-repeat: repeat-x;
   -webkit-background-clip: text;
   animation: animate 15s linear infinite;
}

@keyframes animate {
  0%{
  	background-position: left 0px top 10px;
  }
  40% {
  	background-position: left; 800px top 10px;
  }
}